In [2]:
import pandas as pd
import numpy as np

# Del 2: Pandas - Categorical Data

Pripravimo datasete:

In [3]:
!tar -xJf data/data_del_02.tar.xz -C ./data/

- [Categorical data](https://pandas.pydata.org/pandas-docs/stable/user_guide/categorical.html)
- [Using The Pandas Category Data Type](https://pbpython.com/pandas_dtypes_cat.html)
- [Use Categorical Data to Save on Time and Space](https://realpython.com/python-pandas-tricks/#5-use-categorical-data-to-save-on-time-and-space)

## Background and Motivation

In [4]:
values = pd.Series(['apple', 'orange', 'apple', 'apple'] * 2)

In [5]:
values

0     apple
1    orange
2     apple
3     apple
4     apple
5    orange
6     apple
7     apple
dtype: object

In [6]:
pd.unique(values)

array(['apple', 'orange'], dtype=object)

In [7]:
pd.value_counts(values)

apple     6
orange    2
dtype: int64

In [8]:
values = pd.Series([0, 1, 0, 0] * 2)
values

0    0
1    1
2    0
3    0
4    0
5    1
6    0
7    0
dtype: int64

In [9]:
dim = pd.Series(['apple', 'orange'])

In [10]:
dim

0     apple
1    orange
dtype: object

In [11]:
dim.take(values)

0     apple
1    orange
0     apple
0     apple
0     apple
1    orange
0     apple
0     apple
dtype: object

> [pandas.Series.take](https://pandas.pydata.org/pandas-docs/version/0.25/reference/api/pandas.Series.take.html)

## Categorical Type in pandas

In [12]:
fruits = ['apple', 'orange', 'apple', 'apple'] * 2

In [13]:
N = len(fruits)

In [14]:
df = pd.DataFrame({'fruit': fruits,
    'basket_id': np.arange(N),
    'count': np.random.randint(3, 15, size=N),
    'weight': np.random.uniform(0, 4, size=N)},
    columns=['basket_id', 'fruit', 'count', 'weight'])

In [15]:
df

   basket_id   fruit  count    weight
0          0   apple      9  3.125192
1          1  orange     10  1.383583
2          2   apple     11  0.885859
3          3   apple     10  3.346475
4          4   apple      8  2.222176
5          5  orange      4  1.240555
6          6   apple     10  1.423246
7          7   apple      5  1.940094

In [16]:
fruit_cat = df['fruit'].astype('category')

In [17]:
fruit_cat

0     apple
1    orange
2     apple
3     apple
4     apple
5    orange
6     apple
7     apple
Name: fruit, dtype: category
Categories (2, object): [apple, orange]

In [18]:
c = fruit_cat.values

In [19]:
c

[apple, orange, apple, apple, apple, orange, apple, apple]
Categories (2, object): [apple, orange]

In [20]:
type(c)

pandas.core.arrays.categorical.Categorical

In [21]:
c.categories

Index(['apple', 'orange'], dtype='object')

In [22]:
c.codes

array([0, 1, 0, 0, 0, 1, 0, 0], dtype=int8)

> Notice that the dtype is NumPy’s int8, an 8-bit signed integer that can take on values from -127 to 128. (Only a single byte is needed to represent a value in memory. 64-bit signed ints would be overkill in terms of memory usage.) Our rough-hewn example resulted in int64 data by default, whereas Pandas is smart enough to downcast categorical data to the smallest numerical dtype possible.

In [23]:
df['fruit'] = df['fruit'].astype('category')

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 4 columns):
basket_id    8 non-null int64
fruit        8 non-null category
count        8 non-null int64
weight       8 non-null float64
dtypes: category(1), float64(1), int64(2)
memory usage: 376.0 bytes

In [25]:
df

   basket_id   fruit  count    weight
0          0   apple      9  3.125192
1          1  orange     10  1.383583
2          2   apple     11  0.885859
3          3   apple     10  3.346475
4          4   apple      8  2.222176
5          5  orange      4  1.240555
6          6   apple     10  1.423246
7          7   apple      5  1.940094

In [26]:
my_categories = pd.Categorical(['foo', 'bar', 'baz', 'foo', 'bar'])

In [27]:
my_categories

[foo, bar, baz, foo, bar]
Categories (3, object): [bar, baz, foo]

## Better performance with categoricals

In [28]:
N = 10000000
draws = pd.Series(np.random.randn(N))
labels = pd.Series(['foo', 'bar', 'baz', 'qux'] * (N // 4))

In [30]:
labels.head(10)

0    foo
1    bar
2    baz
3    qux
4    foo
5    bar
6    baz
7    qux
8    foo
9    bar
dtype: object

In [32]:
categories =labels.astype('category')

In [33]:
categories.head(10)

0    foo
1    bar
2    baz
3    qux
4    foo
5    bar
6    baz
7    qux
8    foo
9    bar
dtype: category
Categories (4, object): [bar, baz, foo, qux]

In [35]:
labels.memory_usage(deep=True)/(1024*1024)

686.6455841064453

In [36]:
categories.memory_usage(deep=True)/(1024*1024)

9.537246704101562

In [45]:
%timeit _ = labels.astype('category')

360 ms ± 6.1 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

## Categorical Methods

In [46]:
s = pd.Series(['a', 'b', 'c', 'd'] * 2)

In [48]:
s

0    a
1    b
2    c
3    d
4    a
5    b
6    c
7    d
dtype: object

In [49]:
cat_s = s.astype('category')

In [50]:
cat_s

0    a
1    b
2    c
3    d
4    a
5    b
6    c
7    d
dtype: category
Categories (4, object): [a, b, c, d]

In [52]:
cat_s.cat.codes

0    0
1    1
2    2
3    3
4    0
5    1
6    2
7    3
dtype: int8

In [53]:
cat_s.cat.categories

Index(['a', 'b', 'c', 'd'], dtype='object')

In [54]:
cat_s3 = cat_s[cat_s.isin(['a', 'b'])]

In [55]:
cat_s3

0    a
1    b
4    a
5    b
dtype: category
Categories (4, object): [a, b, c, d]

In [56]:
cat_s3.cat.remove_unused_categories()

0    a
1    b
4    a
5    b
dtype: category
Categories (2, object): [a, b]

In [58]:
colors = pd.Series(['periwinkle', 'mint green', 'burnt orange',
                     'periwinkle', 'burnt orange', 'rose', 
                     'rose', 'mint green', 'rose', 'navy'])

ccolors = colors.astype('category')

In [59]:
ccolors

0      periwinkle
1      mint green
2    burnt orange
3      periwinkle
4    burnt orange
5            rose
6            rose
7      mint green
8            rose
9            navy
dtype: category
Categories (5, object): [burnt orange, mint green, navy, periwinkle, rose]

In [61]:
# ccolors.iloc[5] = 'a new color'

In [62]:
try:
     ccolors.iloc[5] = 'a new color'
except ValueError as e:
    print(e)

Cannot setitem on a Categorical with a new category, set the categories first

In [64]:
ccolors = ccolors.cat.add_categories(['a new color'])

In [65]:
ccolors.iloc[5] = 'a new color'

In [66]:
ccolors

0      periwinkle
1      mint green
2    burnt orange
3      periwinkle
4    burnt orange
5     a new color
6            rose
7      mint green
8            rose
9            navy
dtype: category
Categories (6, object): [burnt orange, mint green, navy, periwinkle, rose, a new color]

## Example: Using The Pandas Category Data Type

### Data Preparation

First, set up imports and read in all the data:

In [69]:
df_raw = pd.read_csv('data/category_example_data.csv',low_memory=False)

In [72]:
df_raw.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99999 entries, 0 to 99998
Columns: 176 entries, Change_Type to Context_of_Research
dtypes: float64(43), int64(3), object(130)
memory usage: 566.0 MB

In [73]:
df_raw.head()

,Change_Type,Covered_Recipient_Type,Noncovered_Recipient_Entity_Name,Teaching_Hospital_CCN,Teaching_Hospital_ID,Teaching_Hospital_Name,Physician_Profile_ID,Physician_First_Name,Physician_Middle_Name,Physician_Last_Name,...,Preclinical_Research_Indicator,Delay_in_Publication_Indicator,Name_of_Study,Dispute_Status_for_Publication,Record_ID,Program_Year,Payment_Publication_Date,ClinicalTrials_Gov_Identifier,Research_Information_Link,Context_of_Research
0,UNCHANGED,Covered Recipient Teaching Hospital,NaN,110079.0,5085.0,GRADY MEMORIAL HOSPITAL,NaN,NaN,NaN,NaN,...,No,No,PCYC-1134M-CA,No,493381041,2017,06/28/2019,NaN,NaN,informCLL A Disease Registry for Patients with...
1,UNCHANGED,Covered Recipient Teaching Hospital,NaN,520078.0,5350.0,ST. FRANCIS HOSPITAL,NaN,NaN,NaN,NaN,...,No,No,Dimethyl Fumarate (DMF) Observational Study,No,455805444,2017,06/28/2019,NaN,NaN,NaN
2,UNCHANGED,Covered Recipient Physician,NaN,NaN,NaN,NaN,296787.0,BERNARD,N,STULBERG,...,No,No,COC,No,501931627,2017,06/28/2019,NaN,NaN,NaN
3,UNCHANGED,Covered Recipient Teaching Hospital,NaN,460009.0,5865.0,U OF U HOSPITALS & CLINICS,NaN,NaN,NaN,NaN,...,No,No,PALLASPALBOCICLIB COLLABORATIVE ADJUVANT STUDY...,No,501847091,2017,06/28/2019,NaN,NaN,NaN
4,UNCHANGED,Covered Recipient Teaching Hospital,NaN,70033.0,4822.0,DANBURY HOSPITAL,NaN,NaN,NaN,NaN,...,No,No,LSS OF 4 SITE,No,446594329,2017,06/28/2019,NCT02097290,NaN,NaN

In [76]:
drop_thresh = df_raw.shape[0]*0.9

In [77]:
drop_thresh

89999.1

In [78]:
df = df_raw.dropna(thresh=drop_thresh, how='all', axis='columns').copy()

In [79]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99999 entries, 0 to 99998
Data columns (total 23 columns):
Change_Type                                                         99999 non-null object
Covered_Recipient_Type                                              99999 non-null object
Recipient_Primary_Business_Street_Address_Line1                     99999 non-null object
Recipient_City                                                      99999 non-null object
Recipient_State                                                     99999 non-null object
Recipient_Zip_Code                                                  99999 non-null object
Recipient_Country                                                   99999 non-null object
Submitting_Applicable_Manufacturer_or_Applicable_GPO_Name           99999 non-null object
Applicable_Manufacturer_or_Applicable_GPO_Making_Payment_ID         99999 non-null int64
Applicable_Manufacturer_or_Applicable_GPO_Making_Payment_Name       99999 non-null object
Applicable_Manufacturer_or_Applicable_GPO_Making_Payment_State      95135 non-null object
Applicable_Manufacturer_or_Applicable_GPO_Making_Payment_Country    99999 non-null object
Related_Product_Indicator                                           99999 non-null object
Total_Amount_of_Payment_USDollars                                   99999 non-null float64
Date_of_Payment                                                     99999 non-null object
Form_of_Payment_or_Transfer_of_Value                                99999 non-null object
Preclinical_Research_Indicator                                      99999 non-null object
Delay_in_Publication_Indicator                                      99999 non-null object
Name_of_Study                                                       97572 non-null object
Dispute_Status_for_Publication                                      99999 non-null object
Record_ID                                                           99999 non-null int64
Program_Year                                                        99999 non-null int64
Payment_Publication_Date                                            99999 non-null object
dtypes: float64(1), int64(3), object(19)
memory usage: 135.4 MB

> [pandas.DataFrame.from_records](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.from_records.html)

In [80]:
unique_counts = pd.DataFrame.from_records([(col, df[col].nunique()) for col in df.columns],
                                         columns=['Column_Name', 'Num_Unique'])

In [82]:
unique_counts.sort_values(by='Num_Unique', inplace=True)

In [83]:
unique_counts

                                          Column_Name  Num_Unique
22                           Payment_Publication_Date           1
17                     Delay_in_Publication_Indicator           1
6                                   Recipient_Country           1
21                                       Program_Year           1
1                              Covered_Recipient_Type           2
19                     Dispute_Status_for_Publication           2
16                     Preclinical_Research_Indicator           2
12                          Related_Product_Indicator           2
15               Form_of_Payment_or_Transfer_of_Value           3
0                                         Change_Type           4
11  Applicable_Manufacturer_or_Applicable_GPO_Maki...          18
10  Applicable_Manufacturer_or_Applicable_GPO_Maki...          34
4                                     Recipient_State          52
14                                    Date_of_Payment         361
7   Submitting_Applicable_Manufacturer_or_Applicab...         465
8   Applicable_Manufacturer_or_Applicable_GPO_Maki...         520
9   Applicable_Manufacturer_or_Applicable_GPO_Maki...         525
3                                      Recipient_City        1874
5                                  Recipient_Zip_Code        3983
2     Recipient_Primary_Business_Street_Address_Line1        6501
18                                      Name_of_Study        7123
13                  Total_Amount_of_Payment_USDollars       34695
20                                          Record_ID       99999

In [84]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99999 entries, 0 to 99998
Data columns (total 23 columns):
Change_Type                                                         99999 non-null object
Covered_Recipient_Type                                              99999 non-null object
Recipient_Primary_Business_Street_Address_Line1                     99999 non-null object
Recipient_City                                                      99999 non-null object
Recipient_State                                                     99999 non-null object
Recipient_Zip_Code                                                  99999 non-null object
Recipient_Country                                                   99999 non-null object
Submitting_Applicable_Manufacturer_or_Applicable_GPO_Name           99999 non-null object
Applicable_Manufacturer_or_Applicable_GPO_Making_Payment_ID         99999 non-null int64
Applicable_Manufacturer_or_Applicable_GPO_Making_Payment_Name       99999 non-null object
Applicable_Manufacturer_or_Applicable_GPO_Making_Payment_State      95135 non-null object
Applicable_Manufacturer_or_Applicable_GPO_Making_Payment_Country    99999 non-null object
Related_Product_Indicator                                           99999 non-null object
Total_Amount_of_Payment_USDollars                                   99999 non-null float64
Date_of_Payment                                                     99999 non-null object
Form_of_Payment_or_Transfer_of_Value                                99999 non-null object
Preclinical_Research_Indicator                                      99999 non-null object
Delay_in_Publication_Indicator                                      99999 non-null object
Name_of_Study                                                       97572 non-null object
Dispute_Status_for_Publication                                      99999 non-null object
Record_ID                                                           99999 non-null int64
Program_Year                                                        99999 non-null int64
Payment_Publication_Date                                            99999 non-null object
dtypes: float64(1), int64(3), object(19)
memory usage: 17.5+ MB

In [85]:
cols_to_exclude = ['Program_Year', 'Payment_Publication_Date', 'Date_of_Payment']

In [86]:
for col in df.columns:
    if df[col].nunique() < 600 and col not in cols_to_exclude:
        df[col] = df[col].astype('category')

In [87]:
df.memory_usage(deep=True).sum() / (1024*1024)

51.83827590942383

### Performance

Perform the analysis on the original input dataframe.

In [88]:
%%timeit
df_raw.groupby('Covered_Recipient_Type')['Total_Amount_of_Payment_USDollars'].sum().to_frame()

6.85 ms ± 513 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

Now, on the dataframe with categorical data:

In [89]:
%%timeit
df.groupby('Covered_Recipient_Type')['Total_Amount_of_Payment_USDollars'].sum().to_frame()

1.12 ms ± 35.4 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

### Watch Outs

> The real problem is that programmers have spent far too much time worrying about efficiency in the wrong places and at the wrong times; premature optimization is the root of all evil (or at least most of it) in programming.

### General Guidelines


1. Do not assume you need to convert all categorical data to the pandas category data type.
2. If the data set starts to approach an appreciable percentage of your useable memory, then consider using categorical data types.
3. If you have very significant performance concerns with operations that are executed frequently, look at using categorical data.
4. If you are using categorical data, add some checks to make sure the data is clean and complete before converting to the pandas category type. Additionally, check for NaN values after combining or converting dataframes.