# Del 4: Delo s podatkovnimi bazami in SQL

Viri:
- [Object Relational Tutorial](https://docs.sqlalchemy.org/en/13/orm/tutorial.html)
- [SQLite Tutorial](https://www.sqlitetutorial.net/)
- [SQLite Python](https://www.sqlitetutorial.net/sqlite-python/)
- [SQLite - Commands](https://www.tutorialspoint.com/sqlite/sqlite_commands.htm)
- [Command Line Shell For SQLite](https://sqlite.org/cli.html)
- [sqlite3 — DB-API 2.0 interface for SQLite databases](https://docs.python.org/3.7/library/sqlite3.html)
-[SQLAlchemy — Python Tutorial](https://towardsdatascience.com/sqlalchemy-python-tutorial-79a577141a91)
- [Fastest Way to Load Data Into PostgreSQL Using Python](https://hakibenita.com/fast-load-data-python-postgresql)
- [A step-by-step SQLAlchemy tutorial](http://www.rmunn.com/sqlalchemy-tutorial/tutorial-0.1.html)
- [How to fix common pitfalls with the Python ORM tool SQLAlchemy](https://opensource.com/article/19/9/common-pitfalls-python)
- [The Complete Guide of SQL For Data Scientists
](https://towardsdatascience.com/the-complete-guide-of-sql-for-data-scientists-902aaced94e4)
- [SQLAlchemy tutorial](http://zetcode.com/db/sqlalchemy/)

## Introduction to Databases

<p>The pandas workflow works well when:</p>
<ul>
<li>the data fits in memory (a few gigabytes but not <em>terabytes</em>)</li>
<li>the data is relatively static (doesn't need to be loaded into memory every minute because the data has changed)</li>
<li>only a single person is accessing the data (shared access to memory is difficult)</li>
<li>security isn't important (security is critical for company scale production situations)</li>
</ul>


<p><img alt="Database Workflow" src="images/database_workflow.svg"></p>

## Data

<a target="_blank" href="https://github.com/fivethirtyeight/data/tree/master/college-majors">FiveThirtyEight's Github</a>

## SQLite - Commands

> Odpremo terminal se premaknemo v mapo data.

Zaženemo sqlite3: `sqlite3 jobs.db`

For a listing of the available dot commands, you can enter ".help" any time. For example −

    sqlite>.help

Let's try .show command to see default setting for your SQLite command prompt.

    sqlite>.show

### Formatting Output

You can use the following sequence of dot commands to format your output.

    sqlite>.header on
    sqlite>.mode column
    sqlite>.timer on
    sqlite>

### Querying the database schema

The sqlite3 program provides several convenience commands that are useful for looking at the schema of the database. There is nothing that these commands do that cannot be done by some other means. These commands are provided purely as a shortcut.

For example, to see a list of the tables in the database, you can enter ".tables".

    sqlite> .tables

The ".schema" command shows the complete schema for the database, or for a single table if an optional tablename argument is provided:

    sqlite> .schema

or

    sqlite> .schema recent_grads

## Introduction to SQL

### SELECT


<p><img alt="SQL Table" src="images/sql_table.svg"></p>

```SQL
SELECT * FROM recent_grads LIMIT 5;
```

</div>
<p>In this query, we specified:</p>
<ul>
<li>the columns we wanted using <code>SELECT *</code></li>
<li>the table we wanted to query using <code>FROM recent_grads</code></li>
<li>the number of rows we wanted using <code>LIMIT 5</code></li>
</ul>
<p>Here's a visual breakdown of the different components of the query:</p>
<p><img alt="SQL Select Breakdown 2" src="images/select_breakdown_2.svg"></p>

<div class="alert alert-block alert-info">
<b>Vaja: </b> Write a SQL query that returns the first 15 rows from recent_grads.
</div>

### Filtering Rows Using WHERE

```SQL
SELECT Major FROM recent_grads;
```

```SQL
SELECT Major, Major_category FROM recent_grads;
```

```SQL
SELECT Major FROM recent_grads
WHERE ShareWomen >= 0.5;
```

```SQL
SELECT Major FROM recent_grads
WHERE ShareWomen >= 0.5
LIMIT 5;
```

<div class="alert alert-block alert-info">
<b>Vaja: </b> Write a SQL query that returns the majors where females were a minority. Only return the Major and ShareWomen columns (in that order) and don't limit the number of rows returned.
</div>

### Multiple Filter Criteria Using AND


<p>Here are the comparison operators we can use:</p>
<ul>
<li>Less than: <code>&lt;</code> </li>
<li>Less than or equal to: <code>&lt;=</code></li>
<li>Greater than: <code>&gt;</code></li>
<li>Greater than or equal to: <code>&gt;=</code></li>
<li>Equal to: <code>=</code></li>
<li>Not equal to: <code>!=</code></li>
</ul>

```SQL
SELECT Major FROM recent_grads
WHERE Major_category = 'Engineering' AND ShareWomen > 0.5
```

```SQL
SELECT * FROM recent_grads
WHERE Major_category = 'Engineering' AND ShareWomen > 0.5
```

<div class="alert alert-block alert-info">
    <b>Vaja:</b> Write a SQL query that returns: all majors with majority female and all majors had a median salary greater than 50000.Only include the following columns in the results and in this order: Major, Major_category, Median, ShareWomen
</div>

### Returning One of Several Conditions With OR

```SQL
SELECT [column1, column2,...] FROM [table1]
WHERE [condition1] OR [condition2]
```

- Write a SQL query that returns the first 20 majors that either:
    - have a Median salary greater than or equal to 10,000, or
    - have less than or equal to 1,000 Unemployed people
- Only include the following columns in the results and in this order:
    - Major
    - Median
    - Unemployed

### Grouping Operators With Parentheses

```SQL
select Major, Major_category, ShareWomen, Unemployment_rate
from recent_grads
where (Major_category = 'Engineering') and (ShareWomen > 0.5 or Unemployment_rate < 0.051)
```

```SQL
(Major_category = 'Engineering') -> True or False
(ShareWomen > 0.5 OR Unemployment_rate < 0.051) -> True or False
```

```SQL
WHERE (Major_category = 'Engineering' AND ShareWomen > 0.5) OR (Unemployment_rate < 0.051)
```

- Run the query we explored above, which returns all majors that:
    - fell under the category of Engineering and
    - either
        - had mostly women graduates
        - or had an unemployment rate below 5.1%, which was the rate in August 2015
- Only include the following columns in the results and in this order:
    - Major
    - Major_category
    - ShareWomen
    - Unemployment_rate

### Ordering Results Using ORDER BY

```SQL
SELECT Rank, Major, Major_category, ShareWomen, Unemployment_rate
FROM recent_grads
WHERE (Major_category = 'Engineering') AND (ShareWomen > 0.5 OR Unemployment_rate < 0.051)
ORDER BY Unemployment_rate
```

```SQL
SELECT Rank, Major, Major_category, ShareWomen, Unemployment_rate
FROM recent_grads
WHERE (Major_category = 'Engineering') AND (ShareWomen > 0.5 OR Unemployment_rate < 0.051)
ORDER BY Unemployment_rate DESC
```

- Write a query that returns all majors where:
    - ShareWomen is greater than 0.3
    - and Unemployment_rate is less than .1
- Only include the following columns in the results and in this order:
    - Major,
    - ShareWomen,
    - Unemployment_rate
- Order the results in descending order by the ShareWomen column.

## Work with the SQLite database using Python


<p>We can interact with a SQLite database in two main ways:</p>
<ul>
<li>Through the <a target="_blank" href="https://docs.python.org/3/library/sqlite3.html">sqlite3 Python module</a></li>
<li>Through the <a target="_blank" href="https://sqlite.org/cli.html">SQLite shell</a></li>
</ul>

**PySQLite**

The PySQLite provides a standardized Python DBI API 2.0 compliant interface to the SQLite database. If your application needs to support not only the SQLite database but also other databases such as MySQL, PostgreSQL, and Oracle, the PySQLite is a good choice.

PySQLite is a part of the Python Standard library since Python version 2.5

**APSW**

If your application needs to support only SQLite database, you should use the APSW module, which is known as Another Python SQLite Wrapper.

The APSW provides the thinnest layer over the SQLite database library. The APSW is designed to mimic the native SQLite C, therefore, whatever you can do in SQLite C API, you can do it also from Python.

Besides covering the SQLite library, the APSW provides many low-level features including the ability to create user-defined aggregate, function, and collations from Python. It even allows you to write a virtual table implementation using Python.

### Connecting to the Database

In [2]:
import sqlite3

In [5]:
conn = sqlite3.connect("data/jobs.db")

#### Closing the Database Connection

#### SQLite Python: Creating a New Database

In [11]:
import sqlite3
from sqlite3 import Error


def create_connection(db_file):
    """ create a database connection to a SQLite database """
    
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
        
    except Error as e:
        print(e)
        
    finally:
        if conn:
            conn.close() 
            
        
            
if __name__ == '__main__':
    create_connection(r"data/pythonsqlite.db")

2.6.0

> If you pass the file name as `:memory:` to the connect() function of the sqlite3 module, it will create a new database that resides in the memory (RAM) instead of a database file on disk.

<div class="alert alert-block alert-info">
<b>Vaja: </b> Develop a function called create_connection() that returns a Connection object which represents an SQLite database specified by the database file parameter db_file.
</div>

In [ ]:
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """

### Introduction to Cursor Objects and Running a Query

In [19]:
conn = sqlite3.connect("data/jobs.db")

cursor = conn.cursor()
query = "select* from recent_grads;"
cursor.execute(query)
results = cursor.fetchall()

In [20]:
print(results[0:3])

[(0, 1, 2419, 'PETROLEUM ENGINEERING', 'Engineering', 2339, 36, 2057, 282, 0.120564344, 1976, 1849, 270, 1207, 37, 0.018380527, 110000, 95000, 125000, 1534, 364, 193), (1, 2, 2416, 'MINING AND MINERAL ENGINEERING', 'Engineering', 756, 7, 679, 77, 0.10185185199999999, 640, 556, 170, 388, 85, 0.117241379, 75000, 55000, 90000, 350, 257, 50), (2, 3, 2415, 'METALLURGICAL ENGINEERING', 'Engineering', 856, 3, 725, 131, 0.153037383, 648, 558, 133, 340, 16, 0.024096386, 73000, 50000, 105000, 456, 176, 0)]

In [21]:
conn.close()

In [ ]:
# SQL Query as a string
query = "select * from recent_grads;"

#### Shortcut for Running a Query

In [22]:
conn = sqlite3.connect("data/jobs.db")
query = "select * from recent_grads;"


data = conn.execute(query).fetchall()
conn.close()

In [23]:
print(data[:2])

[(0, 1, 2419, 'PETROLEUM ENGINEERING', 'Engineering', 2339, 36, 2057, 282, 0.120564344, 1976, 1849, 270, 1207, 37, 0.018380527, 110000, 95000, 125000, 1534, 364, 193), (1, 2, 2416, 'MINING AND MINERAL ENGINEERING', 'Engineering', 756, 7, 679, 77, 0.10185185199999999, 640, 556, 170, 388, 85, 0.117241379, 75000, 55000, 90000, 350, 257, 50)]

In [24]:
conn = sqlite3.connect("data/jobs.db")
query = "select * from recent_grads;"


data = conn.execute(query).fetchall()
conn.close()

In [34]:
conn = sqlite3.connect("data/jobs.db")
query = "SELECT MAJOR FROM RECENT_GRADS LIMIT 10;"
data = conn.execute(query).fetchall()

#### SQLite Python: Querying Data

<p>To query data in an SQLite database from Python, you use these steps:</p>
    <ol><li>First, <a href="https://www.sqlitetutorial.net/sqlite-python/creating-database/">establish a connection to the SQLite database</a> by creating a <code>Connection</code> object.</li><li>Next, create a <code>Cursor</code> object using the cursor method of the <code>Connection</code> object.</li><li>Then, execute a&nbsp; <code><a href="https://www.sqlitetutorial.net/sqlite-select/">SELECT</a></code> statement.</li><li>After that, call the <code>fetchall()</code> method of the cursor object to fetch the data.</li><li>Finally, loop the cursor and process each row individually.</li></ol>

First, create a connect to an SQLite database specified by a file:

In [14]:
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    
    
    
    conn = None
    try:
        conn = sqlite3.connect(db_file)
    except Error as e:
        print(e)
        
    return conn

This function selects all rows from the recent_grads table and display the data:

In [35]:
def select_all_from_table(conn, n_rows='all'):
    """
    Query all rows in the table
    :param conn: the Connection object
    :param n_rows: number of rows to print
    :return:
    """
    rows = conn.execute("select * from recent_grads").fetchall()
    
    if n_rows == "all":
        for row in rows:
            print(row)
            
    else:
        for row in rows[:n_rows]:
            print(row)

In [ ]:
def select_all_from_table(conn, n_rows='all'):
    """
    Query all rows in the table
    :param conn: the Connection object
    :param n_rows: number of rows to print
    :return:
    """
    
    
    

    
    rows = conn.execute("select * from recent_grads").fetchall()
    
    if n_rows == "all":
        for row in rows:
            print(row)
            
    else:
        for row in rows[:n_rows]:
            print(row)

cursor.fetchone()

In [36]:
conn = create_connection("data/jobs.db")
select_all_from_table(conn, 3)
conn.close()

(0, 1, 2419, 'PETROLEUM ENGINEERING', 'Engineering', 2339, 36, 2057, 282, 0.120564344, 1976, 1849, 270, 1207, 37, 0.018380527, 110000, 95000, 125000, 1534, 364, 193)
(1, 2, 2416, 'MINING AND MINERAL ENGINEERING', 'Engineering', 756, 7, 679, 77, 0.10185185199999999, 640, 556, 170, 388, 85, 0.117241379, 75000, 55000, 90000, 350, 257, 50)
(2, 3, 2415, 'METALLURGICAL ENGINEERING', 'Engineering', 856, 3, 725, 131, 0.153037383, 648, 558, 133, 340, 16, 0.024096386, 73000, 50000, 105000, 456, 176, 0)

<div class="alert alert-block alert-info">
<b>Vaja: </b> Write a function to query recent_grads by Major_category.
</div>

In [ ]:
def select_recent_grads_by_major_category(conn, major_category, n_rows='all'):
    """
    Query tasks by priority
    :param conn: the Connection object
    :param major_category: category name
    :param n_rows: number of rows to print
    :return:
    """
    cur = conn.cursor()
    cur.execute("SELECT * FROM recent_grads WHERE Major_category=?", (major_category,))
 
    rows = cur.fetchall()
 
    if n_rows == 'all':
        for row in rows:
            print(row)
    else:
        for row in rows[:n_rows]:
            print(row)
            
            
if __name__ == '__main__':
    database = r"data/jobs.db"

### Fetching a Specific Number of Results

In [38]:
import sqlite3
conn = sqlite3.connect("data/jobs.db")
cursor = conn.cursor()

query = "SELECT Major, Major_category FROM recent_grads;"

cursor = cursor.execute(query)

In [39]:
cursor.fetchmany(5)

[('PETROLEUM ENGINEERING', 'Engineering'),
 ('MINING AND MINERAL ENGINEERING', 'Engineering'),
 ('METALLURGICAL ENGINEERING', 'Engineering'),
 ('NAVAL ARCHITECTURE AND MARINE ENGINEERING', 'Engineering'),
 ('CHEMICAL ENGINEERING', 'Engineering')]

In [40]:
conn.close()

Kako bi se povezali v druge vrste podatkovnih baz?

## SQLAlchemy

The [SQLAlchemy](https://www.sqlalchemy.org/) SQL Toolkit and Object Relational Mapper is a comprehensive set of tools for working with databases and Python. It provides a full suite of well-known enterprise-level persistence patterns, designed for efficient and high-performing database access. SQLAlchemy and Django's ORM are two of the most widely used object-relational mapping tools in the Python community.

The SQLAlchemy has three ways of working with database data:
- Raw SQL
- SQL Expression language
- ORM

### Installations

Here we show how to install SQLAlchemy and other necessary packages:

`pip install SQLAlchemy`

We install the DBAPI drivers for PostgreSQL and MySQL. SQLAlchemy depends on these modules. The sqlite module is distributed with Python.

**[Dialects](https://docs.sqlalchemy.org/en/13/dialects/index.html)**

The dialect is the system SQLAlchemy uses to communicate with various types of DBAPI implementations and databases. The sections that follow contain reference documentation and notes specific to the usage of each backend, as well as notes for the various DBAPIs.

All dialects require that an appropriate DBAPI driver is installed.

Support for the MySQL database via the [PyMySQL driver](https://docs.sqlalchemy.org/en/13/dialects/mysql.html#module-sqlalchemy.dialects.mysql.pymysql).

`pip install PyMySQL`

Support for the PostgreSQL database via the [psycopg2 driver](https://docs.sqlalchemy.org/en/13/dialects/postgresql.html#module-sqlalchemy.dialects.postgresql.psycopg2).

`pip install psycopg2`

### SQLAlchemy version

In [42]:
import sqlalchemy
sqlalchemy.__version__

'1.3.5'

### Connecting

To connect we use create_engine():

In [43]:
from sqlalchemy import create_engine

In [44]:
engine = create_engine("sqlite:///:memory")

> **Lazy Connecting**: The Engine, when first returned by create_engine(), has not actually tried to connect to the database yet; that happens only the first time it is asked to perform a task against the database.

#### Database Urls

<p>The <a class="reference internal" href="#sqlalchemy.create_engine" title="sqlalchemy.create_engine"><code class="xref py py-func docutils literal notranslate"><span class="pre">create_engine()</span></code></a> function produces an <a class="reference internal" href="connections.html#sqlalchemy.engine.Engine" title="sqlalchemy.engine.Engine"><code class="xref py py-class docutils literal notranslate"><span class="pre">Engine</span></code></a> object based
on a URL.  These URLs follow <a class="reference external" href="http://rfc.net/rfc1738.html">RFC-1738</a>, and usually can include username, password,
hostname, database name as well as optional keyword arguments for additional configuration.
In some cases a file path is accepted, and in others a “data source name” replaces
the “host” and “database” portions.  The typical form of a database URL is:</p>

`dialect+driver://username:password@host:port/database`

<p>Dialect names include the identifying name of the SQLAlchemy dialect,
a name such as <code class="docutils literal notranslate"><span class="pre">sqlite</span></code>, <code class="docutils literal notranslate"><span class="pre">mysql</span></code>, <code class="docutils literal notranslate"><span class="pre">postgresql</span></code>, <code class="docutils literal notranslate"><span class="pre">oracle</span></code>, or <code class="docutils literal notranslate"><span class="pre">mssql</span></code>.
The drivername is the name of the DBAPI to be used to connect to
the database using all lowercase letters. If not specified, a “default” DBAPI
will be imported if available - this default is typically the most widely
known driver available for that backend.</p>

PostgreSQL:

In [ ]:
# psycopg2 driver
engine = create_engine('postgresql+psycopg2://scott:tiger@localhost/mydatabase')

MySQL:

In [ ]:
# PyMySQL driver
engine = create_engine('mysql+pymysql://scott:tiger@localhost/foo')

SQLite:

In [ ]:
# sqlite://<nohostname>/<path>
# where <path> is relative:
engine = create_engine('sqlite:///foo.db')

### Execute SQL statements

In [48]:
from sqlalchemy import create_engine

eng = create_engine('sqlite:///data/logs.db')

with.eng.connect() as con:
    rs = con.execute("select * from weblog limit 5;")
    data = rs.fetchmany()
    print(data)

SyntaxError: invalid syntax (<ipython-input-48-f19957ce4a76>, line 5)

In [ ]:
with eng.connect() as con:
    rs = con.execute('SELECT * FROM weblog LIMIT 5;')        
    
    
    
    print(data)

In [ ]:
with eng.connect() as con:
    rs = con.execute('SELECT * FROM weblog LIMIT 5;')        
    
    
    print(data)

In [ ]:
with eng.connect() as con:
    rs = con.execute('SELECT * FROM weblog LIMIT 5;')        
    
    
    print(data)

## Working with databases and Pandas

In [ ]:
import pandas as pd
import numpy as np

The key functions are:

<table border="1" class="longtable docutils">
<colgroup>
<col width="10%">
<col width="90%">
</colgroup>
<tbody valign="top">
<tr class="row-odd"><td><a class="reference internal" href="../reference/api/pandas.read_sql_table.html#pandas.read_sql_table" title="pandas.read_sql_table"><code class="xref py py-obj docutils literal notranslate"><span class="pre">read_sql_table</span></code></a>(table_name,&nbsp;con[,&nbsp;schema,&nbsp;…])</td>
<td>Read SQL database table into a DataFrame.</td>
</tr>
<tr class="row-even"><td><a class="reference internal" href="../reference/api/pandas.read_sql_query.html#pandas.read_sql_query" title="pandas.read_sql_query"><code class="xref py py-obj docutils literal notranslate"><span class="pre">read_sql_query</span></code></a>(sql,&nbsp;con[,&nbsp;index_col,&nbsp;…])</td>
<td>Read SQL query into a DataFrame.</td>
</tr>
<tr class="row-odd"><td><a class="reference internal" href="../reference/api/pandas.read_sql.html#pandas.read_sql" title="pandas.read_sql"><code class="xref py py-obj docutils literal notranslate"><span class="pre">read_sql</span></code></a>(sql,&nbsp;con[,&nbsp;index_col,&nbsp;…])</td>
<td>Read SQL query or database table into a DataFrame.</td>
</tr>
<tr class="row-even"><td><a class="reference internal" href="../reference/api/pandas.DataFrame.to_sql.html#pandas.DataFrame.to_sql" title="pandas.DataFrame.to_sql"><code class="xref py py-obj docutils literal notranslate"><span class="pre">DataFrame.to_sql</span></code></a>(self,&nbsp;name,&nbsp;con[,&nbsp;schema,&nbsp;…])</td>
<td>Write records stored in a DataFrame to a SQL database.</td>
</tr>
</tbody>
</table>

> **Note:** The function read_sql() is a convenience wrapper around read_sql_table() and read_sql_query() (and for backward compatibility) and will delegate to specific function depending on the provided input (database table name or sql query). Table names do not need to be quoted if they have special characters.

<p>To connect with SQLAlchemy you use the <code class="xref py py-func docutils literal notranslate"><span class="pre">create_engine()</span></code> function to create an engine
object from database URI. You only need to create the engine once per database you are
connecting to.
For more information on <code class="xref py py-func docutils literal notranslate"><span class="pre">create_engine()</span></code> and the URI formatting, see the examples
below and the SQLAlchemy <a class="reference external" href="https://docs.sqlalchemy.org/en/latest/core/engines.html">documentation</a></p>

### Importing data from database

#### [read_sql_table](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_sql_table.html#pandas.read_sql_table)

Read SQL database table into a DataFrame.

Given a table name and a SQLAlchemy connectable, returns a DataFrame. This function does not support DBAPI connections.

In [49]:
eng = create_engine('sqlite:///data/logs.db')

In [50]:
import pandas as pd
import numpy as np

In [51]:
weblogs = pd.read_sql_table("weblog",eng)

In [52]:
weblogs.head()

   id          ip           timestamp  status method
0   1  10.128.2.1 2017-11-29 06:58:55     200    GET
1   2  10.128.2.1 2017-11-29 06:59:02     302   POST
2   3  10.128.2.1 2017-11-29 06:59:03     200    GET
3   4  10.131.2.1 2017-11-29 06:59:04     200    GET
4   5  10.130.2.1 2017-11-29 06:59:06     200    GET

In [53]:
weblogs = pd.read_sql_table("weblog",eng, index_col = "id").head()

In [54]:
weblogs

            ip           timestamp  status method
id
1   10.128.2.1 2017-11-29 06:58:55     200    GET
2   10.128.2.1 2017-11-29 06:59:02     302   POST
3   10.128.2.1 2017-11-29 06:59:03     200    GET
4   10.131.2.1 2017-11-29 06:59:04     200    GET
5   10.130.2.1 2017-11-29 06:59:06     200    GET

In [55]:
weblogs = pd.read_sql_table("weblog",eng, index_col = "id",colums = ["id","status","method"]).head()

TypeError: read_sql_table() got an unexpected keyword argument 'colums'

#### [read_sql_query](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_sql_query.html#pandas.read_sql_query)

Read SQL query into a DataFrame.

Returns a DataFrame corresponding to the result set of the query string. Optionally provide an index_col parameter to use one of the columns as the index, otherwise default integer index will be used.

In [57]:
query ="SELECT ip, status FROM weblog WHERE status = 302;"

In [58]:
pd.read_sql_query(query, eng).head()

           ip  status
0  10.128.2.1     302
1  10.131.2.1     302
2  10.130.2.1     302
3  10.129.2.1     302
4  10.130.2.1     302

In [62]:
query = "SELECT * FROM weblog WHERE ip='10.128.2.1' AND method='GET'"
pd.read_sql_query(query, eng).head()

   id          ip                   timestamp  status method
0   1  10.128.2.1  2017-11-29 06:58:55.000000     200    GET
1   3  10.128.2.1  2017-11-29 06:59:03.000000     200    GET
2   7  10.128.2.1  2017-11-29 06:59:19.000000     200    GET
3  22  10.128.2.1  2017-11-29 13:38:20.000000     200    GET
4  24  10.128.2.1  2017-11-29 13:38:20.000000     200    GET

<div class="alert alert-block alert-info">
<b>Vaja: </b> Write a SQL query that returns a df with all columns for ip = '10.128.2.1' using method GET. Id should be the index.
</div>

### Writing a DataFrame to a SQL database

Assuming the following data is in a DataFrame data, we can insert it into the database using to_sql().

#### [to_sql](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_sql.html)

Write records stored in a DataFrame to a SQL database.

Databases supported by SQLAlchemy are supported. Tables can be newly created, appended to, or overwritten.

Create an in-memory SQLite database.

In [71]:
engine = create_engine('sqlite:///:memory:', echo=False)

In [72]:
df = pd.DataFrame({'name' : ['User 1', 'User 2', 'User 3']})

In [73]:
df

     name
0  User 1
1  User 2
2  User 3

In [74]:
df.to_sql(name = "users", con = engine)

In [66]:
pd.read_sql_table('users', engine)

ValueError: Table users not found

In [67]:
df1 = pd.DataFrame({'name' : ['User 4', 'User 5']})

**if_exists : {‘fail’, ‘replace’, ‘append’}, default ‘fail’**

How to behave if the table already exists.
- fail: Raise a ValueError.
- replace: Drop the table before inserting new values.
- append: Insert new values to the existing table.

In [76]:
df1.to_sql("users",con = engine, if_exists = "append")

In [77]:
df1

     name
0  User 4
1  User 5

In [78]:
pd.read_sql_table('users', engine)

   index    name
0      0  User 1
1      1  User 2
2      2  User 3
3      0  User 4
4      1  User 5

#### SQL data types

<p><a class="reference internal" href="../reference/api/pandas.DataFrame.to_sql.html#pandas.DataFrame.to_sql" title="pandas.DataFrame.to_sql"><code class="xref py py-func docutils literal notranslate"><span class="pre">to_sql()</span></code></a> will try to map your data to an appropriate
SQL data type based on the dtype of the data. When you have columns of dtype
<code class="docutils literal notranslate"><span class="pre">object</span></code>, pandas will try to infer the data type.</p>

You can always override the default type by specifying the desired SQL type of
any of the columns by using the <code class="docutils literal notranslate"><span class="pre">dtype</span></code> argument. This argument needs a
dictionary mapping column names to [SQLAlchemy types](https://docs.sqlalchemy.org/en/13/core/type_basics.html#generic-types) (or strings for the sqlite3
fallback mode).
For example, specifying to use the sqlalchemy <code class="docutils literal notranslate"><span class="pre">String</span></code> type instead of the
default <code class="docutils literal notranslate"><span class="pre">Text</span></code> type for string columns:

Specify the dtype (especially useful for integers with missing values). Notice that while pandas is forced to store the data as floating point, the database supports nullable integers. When fetching the data with Python, we get back integer scalars.

In [88]:
df = pd.DataFrame({"A": [1, None, 2], "B": ['dsds', 'haha', 'ldld']})

In [89]:
df

     A     B
0  1.0  dsds
1  NaN  haha
2  2.0  ldld

In [90]:
from sqlalchemy.types import String, Integer

In [91]:
dtype_dict = {"A": Integer(),
             "B": String(5)}

In [92]:
df.to_sql("users,
          con= engine,
          if_exists = "replace",
          index = False,
          dtype = dtype_dict)

SyntaxError: EOL while scanning string literal (<ipython-input-92-71ed2532b14a>, line 1)

In [ ]:
pd.read_sql_table('users', engine)

<p>With some databases, writing large DataFrames can result in errors due to
packet size limitations being exceeded. This can be avoided by setting the
<code class="docutils literal notranslate"><span class="pre">chunksize</span></code> parameter when calling <code class="docutils literal notranslate"><span class="pre">to_sql</span></code>.  For example, the following
writes <code class="docutils literal notranslate"><span class="pre">data</span></code> to the database in batches of 1000 rows at a time:</p>

```python
data.to_sql('data_chunked', engine, chunksize=1000)
```

### Primer: Uvoz podatkov iz CSV dokumenta v SQL bazo

In [96]:
weblog_df = pd.read_csv('data/weblogs_clean.csv')

In [97]:
weblog_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 4 columns):
IP        500 non-null object
Time      500 non-null object
Staus     500 non-null int64
Method    500 non-null object
dtypes: int64(1), object(3)
memory usage: 15.7+ KB

In [98]:
weblog_df.head()

           IP                  Time  Staus Method
0  10.128.2.1  29/Nov/2017:06:58:55    200    GET
1  10.128.2.1  29/Nov/2017:06:59:02    302   POST
2  10.128.2.1  29/Nov/2017:06:59:03    200    GET
3  10.131.2.1  29/Nov/2017:06:59:04    200    GET
4  10.130.2.1  29/Nov/2017:06:59:06    200    GET

[Pretvorbe](https://www.programiz.com/python-programming/datetime/strftime)

In [106]:
format_str="%d/%b/%Y:%H:%M:%S"

In [107]:
weblog_df["Time"]= pd.to_datetime(weblog_df["Time"],format = format_str)

df[0] = pd.to_datetime(df[0]).apply(lambda x:x.strftime('%d/%m/%Y'))

KeyError: 0

In [111]:
weblog_df.rename(columns={'IP':'ip', 'Time':'timestamp', 'Staus':'status', 'Method':'method'}, inplace=True)

In [112]:
weblog_df.head()

           ip           timestamp  status method
0  10.128.2.1 2017-11-29 06:58:55     200    GET
1  10.128.2.1 2017-11-29 06:59:02     302   POST
2  10.128.2.1 2017-11-29 06:59:03     200    GET
3  10.131.2.1 2017-11-29 06:59:04     200    GET
4  10.130.2.1 2017-11-29 06:59:06     200    GET

In [115]:
weblog_df["http"] = weblog_df["status"] == 200
weblog_df

             ip           timestamp  status method   http
0    10.128.2.1 2017-11-29 06:58:55     200    GET   True
1    10.128.2.1 2017-11-29 06:59:02     302   POST  False
2    10.128.2.1 2017-11-29 06:59:03     200    GET   True
3    10.131.2.1 2017-11-29 06:59:04     200    GET   True
4    10.130.2.1 2017-11-29 06:59:06     200    GET   True
5    10.130.2.1 2017-11-29 06:59:19     200    GET   True
6    10.128.2.1 2017-11-29 06:59:19     200    GET   True
7    10.131.2.1 2017-11-29 06:59:19     200    GET   True
8    10.131.2.1 2017-11-29 06:59:30     200    GET   True
9    10.131.2.1 2017-11-29 06:59:37     302    GET  False
10   10.131.2.1 2017-11-29 06:59:37     200    GET   True
11   10.130.2.1 2017-11-29 07:00:19     200    GET   True
12   10.130.2.1 2017-11-29 07:00:21     200    GET   True
13   10.130.2.1 2017-11-29 13:31:27     302    GET  False
14   10.130.2.1 2017-11-29 13:31:28     200    GET   True
15   10.129.2.1 2017-11-29 13:38:03     302   POST  False
16   10.131.0.1 2017-11-29 13:38:04     200    GET   True
17   10.131.0.1 2017-11-29 13:38:07     200    GET   True
18   10.130.2.1 2017-11-29 13:38:19     302    GET  False
19   10.131.2.1 2017-11-29 13:38:20     200    GET   True
20   10.131.2.1 2017-11-29 13:38:20     200    GET   True
21   10.128.2.1 2017-11-29 13:38:20     200    GET   True
22   10.131.0.1 2017-11-29 13:38:20     200    GET   True
23   10.128.2.1 2017-11-29 13:38:20     200    GET   True
24   10.131.0.1 2017-11-29 13:38:20     200    GET   True
25   10.129.2.1 2017-11-29 13:38:20     200    GET   True
26   10.131.0.1 2017-11-29 13:38:21     200    GET   True
27   10.128.2.1 2017-11-29 13:38:21     200    GET   True
28   10.131.2.1 2017-11-29 13:38:23     200    GET   True
29   10.131.2.1 2017-11-29 13:46:46     200    GET   True
..          ...                 ...     ...    ...    ...
470  10.131.0.1 2017-11-29 18:12:21     200    GET   True
471  10.131.0.1 2017-11-29 18:12:26     200    GET   True
472  10.131.0.1 2017-11-29 18:12:35     200    GET   True
473  10.131.0.1 2017-11-29 18:13:02     200    GET   True
474  10.131.0.1 2017-11-29 18:13:07     200    GET   True
475  10.128.2.1 2017-11-29 18:15:39     200    GET   True
476  10.129.2.1 2017-11-29 18:17:50     200    GET   True
477  10.129.2.1 2017-11-29 18:17:54     200    GET   True
478  10.129.2.1 2017-11-29 18:17:57     200    GET   True
479  10.129.2.1 2017-11-29 18:18:05     200   POST   True
480  10.131.0.1 2017-11-29 18:20:45     200   POST   True
481  10.131.0.1 2017-11-29 18:22:34     200    GET   True
482  10.131.0.1 2017-11-29 18:22:37     200    GET   True
483  10.131.0.1 2017-11-29 18:22:39     200    GET   True
484  10.131.0.1 2017-11-29 18:22:44     200    GET   True
485  10.131.0.1 2017-11-29 18:22:48     200    GET   True
486  10.131.0.1 2017-11-29 18:22:53     200    GET   True
487  10.131.0.1 2017-11-29 18:23:01     200    GET   True
488  10.131.0.1 2017-11-29 18:23:09     302    GET  False
489  10.131.0.1 2017-11-29 18:23:09     200    GET   True
490  10.131.0.1 2017-11-29 18:23:17     302   POST  False
491  10.131.0.1 2017-11-29 18:23:18     200    GET   True
492  10.131.0.1 2017-11-29 18:23:21     200    GET   True
493  10.131.0.1 2017-11-29 18:23:24     200    GET   True
494  10.128.2.1 2017-11-29 18:24:57     200    GET   True
495  10.128.2.1 2017-11-29 18:25:02     200    GET   True
496  10.128.2.1 2017-11-29 18:25:07     200    GET   True
497  10.128.2.1 2017-11-29 18:25:15     200    GET   True
498  10.128.2.1 2017-11-29 18:25:27     302    GET  False
499  10.129.2.1 2017-11-29 18:25:27     302    GET  False

[500 rows x 5 columns]

In [119]:
from sqlalchemy import create_engine
from sqlalchemy import DateTime, Integer, String, Boolean

Dodamo podatke v tabelo:

In [126]:
dtype_dict = {'ip': String(15), 
              'timestamp': DateTime(), 
              'status': Integer(), 
              'method': String(10), 
              'http_ok': Boolean()
}

In [127]:
weblog_df.to_sql(name = "weblog",
                con = engine,
                if_exists = "append",
                index = False,
                chunksize = 100,
                dtype=dtype_dict)

In [128]:
data = pd.read_sql_table("weblog", engine).head()

In [129]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
ip           5 non-null object
timestamp    5 non-null datetime64[ns]
status       5 non-null int64
method       5 non-null object
http         5 non-null bool
dtypes: bool(1), datetime64[ns](1), int64(1), object(2)
memory usage: 245.0+ bytes

Preverimo podatke:

In [125]:
pd.read_sql_table('weblog', engine).head()

           ip           timestamp  status method   http
0  10.128.2.1 2017-11-29 06:58:55     200    GET   True
1  10.128.2.1 2017-11-29 06:59:02     302   POST  False
2  10.128.2.1 2017-11-29 06:59:03     200    GET   True
3  10.131.2.1 2017-11-29 06:59:04     200    GET   True
4  10.130.2.1 2017-11-29 06:59:06     200    GET   True

## Dodatna orodja

### [ipython-sql](https://github.com/catherinedevlin/ipython-sql)

Connect to a database, using SQLAlchemy connect strings, then issue SQL commands within IPython or IPython Notebook.